services:
  - type: web
    name: image-to-excel-converter
    env: python
    region: oregon
    buildCommand: pip install -r requirements.txt
    startCommand: streamlit run app.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.13
